// Fonts
$font: "Inter", sans-serif;
$font-weight-bold: 700;

// Fonts size
$size-title: 72px;
$size-title-min: 40px;
$size-placeholder: 24px;
$size-placeholder-medium: 20px;
$size-placeholder-min: 15px;
$size-subtitle: 21px;
$size-subtitle-min: 16px;
$size-card-title: 17px;
$size-card-text: 12px;

// Colors
$liner: #055160;
$linear-light: #087990;
$blue-light: #CFF4FC;
$black: #000000;
$grey: #3F444A;
$grey-light: #6C757D;
$grey-light-2: #ABB5BE; 
$grey-lighter: #edeef3;
$white: white; 



